@font-face {
  font-family: 'Dosis';
  src: url('fonts/Dosis/Dosis-Light.ttf');
}

div.done {
  text-decoration: line-through;
  color: #717171;
}

#container {
  background-color: #f5f5f5;
  font-family: 'Dosis', sans-serif;
  max-width: 750px;
  margin: 0 auto;
  padding-bottom: 10px;
}

#todoHeader {
  text-align: center;
  background-color: #2a2a2a;
}

h1 {
  color: #fefefe;
  padding: 3% 3% 0 3%;
  margin: 0;
}

h2 {
  color: #499AF1;
  opacity: 0.8;
  margin: 1% auto;
  display: inline;
}

button#back,
button#forward {
  background-color: rgba(0,0,0,0);
  height: 36px;
  width: 36px;
  position: relative;
  top: 5px;
}

button#back {
  background-image: url("back.svg");
}

button#forward {
  background-image: url("forward.svg");
}

button#addItem {
    background-image: url("add.svg");
    background-repeat: no-repeat;
    height: 36px;
    width: 36px;
    position: relative;
    bottom: 0;
    background-color: #2a2a2a;
    margin: 0;
    padding: 0;
}

#inputDiv {
  padding-top: 1%;
}

#inputError {
  color: #fefefe;
  height: 25px;
  font-size: 0.9em;
  padding-top: 4px;
}

#errorSpan {
  display: none;
}

#inputText{
  width: 280px;
  height: 30px;
  font-size: 1em;
  font-weight: lighter;
  font-family: 'Dosis', sans-serif;
}

#listDiv {
  font-size: 1.1em;
  padding-right: 20px;
}

button {
  border: none;
  border-radius: 3px;
  /*color: #f9f9f9;*/
  padding: 1px 3px;
  vertical-align: bottom;
  cursor: pointer;
}

button:focus {
  outline: 0;
}

input{
    padding-left: 8px;
    padding-right: 8px;
}

input:focus {
    outline: 0;
    padding-left: 8px;
    padding-right: 8px;
    /*border-color: rgba(69, 132, 139, 0.3);*/
}

button.delButton, button.editButton {
    background-color: #f5f5f5;
}

button.delButton {
  background-image: url("del.svg");
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
}

button.editButton {
  background-image: url("edit.svg");
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}

#listDiv ul {
  list-style: none;
  padding-left: 5px;
}

#listDiv li {
  margin: 10px 0;
}

button.updateButton {
    height: 25px;
    width: 24px;
    background-image: url("done.svg");
    background-color: #e5e5e5
}

.todoItemText {
  display: inline-block;
  max-width: 80%;
  margin-left: 10px;
  text-align: justify;
  word-wrap: break-word;
}

@media screen and (max-width: 480px) {
  .todoItemText {
    max-width: 150px;
  }
}

.todoCheckbox {
  display: inline-block;
  vertical-align: top;
}

div.delDiv {
  float: right;
}

.editBox {
  display: none;
}

.visibleEditBox {
  display: inline-block;
}

.editBox input[type="text"] {
  height: 20px;
  width: 150px;
  font-family: 'Dosis', sans-serif;
  font-size: 1em;
}
