div.done {
	text-decoration: line-through;
	color: #717171;
}

#container {
	background-color: #f5f5f5;
	font-family: 'Dosis', sans-serif;
	max-width: 680px;
	margin: 0 auto;
	padding-bottom: 10px;

}

h1 {
	text-align: center;
	color: #fefefe;
	background-color: #3a3a3a;
	margin-bottom: 3%;
	padding: 3%;
}

#inputDiv {
	text-align: center;
}

#listDiv {
	font-size: 17px;
	padding-right: 20px;
}

button {
	background-color: #4f4f4f;
	border: none;
	border-radius: 2px;
	color: #f9f9f9;
	padding: 0:;
}

#listDiv ul {
	list-style: none;
	padding-left: 5px;
}

#listDiv li {
	margin: 10px 0;
}

.todoItemText {
	display: inline-block;
	max-width: 80%;
	margin-left: 10px;
	text-align: justify;
}

.todoItemCheckbox {
	display: inline-block;
	vertical-align: top;
}

div.delDiv {
	float: right;
}