div.done {
    text-decoration: line-through;
    color: #717171;
}

#container {
    background-color: #f5f5f5;
    font-family: 'Dosis', sans-serif;
    max-width: 750px;
    margin: 0 auto;
    padding-bottom: 10px;
}

#todoHeader {
    text-align: center;
    background-color: #2a2a2a;
}

h1 {
    color: #fefefe;
    padding: 3% 3% 0 3%;
    margin: 0;
}

h2 {
    color: #499AF1;
    opacity: 0.8;
    margin: 1% auto;
    display: inline;
}

i.fa-chevron-right,
i.fa-chevron-left {
    font-size: 1.5em;
    color: #6d6d6d;
    cursor: pointer;
}

#inputDiv {
    padding-top: 1%;
}

#inputError {
    color: #fefefe;
    height: 25px;
    font-size: 0.9em;
    padding-top: 4px;
}

#errorSpan {
    display: none;
}

#inputText {
    width: 280px;
    height: 30px;
    font-size: 1em;
    font-weight: lighter;
}

#listDiv {
    font-size: 1.1em;
    padding-right: 20px;
}

button {
    background-color: #2a2a2a;
    border: none;
    border-radius: 3px;
    color: #f9f9f9;
    padding: 1px 3px;
    vertical-align: bottom;
    cursor: pointer;
}

button:focus {
    outline: 0;
}

button.delButton {
    background-color: #f5f5f5;
}

.delButton i {
    color: #3a3a3a;
}

#listDiv ul {
    list-style: none;
    padding-left: 5px;
}

#listDiv li {
    margin: 10px 0;
}

.todoItemText {
    display: inline-block;
    max-width: 80%;
    margin-left: 10px;
    text-align: justify;
    word-wrap: break-word;
}

.todoCheckbox {
    display: inline-block;
    vertical-align: top;
}

div.delDiv {
    float: right;
}

.editBox {
    display: none;
}
