div.done {
    text-decoration: line-through;
    color: #717171;
}

#container {
    background-color: #f5f5f5;
    font-family: 'Dosis', sans-serif;
    max-width: 750px;
    margin: 0 auto;
    padding-bottom: 10px;
}

#todoHeader {
    text-align: center;
    background-color: #3a3a3a;
}

h1, #inputDiv {
    color: #fefefe;
    padding: 3%;
}

#inputText {
    width: 280px;
    height: 30px;
    font-size: 1em;
    font-weight: lighter;
}

#listDiv {
    font-size: 1.1em;
    padding-right: 20px;
}

button {
    background-color: #3a3a3a;
    border: none;
    border-radius: 3px;
    color: #f9f9f9;
    padding: 1px 3px;
    vertical-align: bottom;
}

button.delButton {
	background-color: #f5f5f5;
}

.delButton i {
	color: #3a3a3a;
}


#listDiv ul {
    list-style: none;
    padding-left: 5px;
}

#listDiv li {
    margin: 10px 0;
}

.todoItemText {
    display: inline-block;
    max-width: 80%;
    margin-left: 10px;
    text-align: justify;
}

.todoItemCheckbox {
    display: inline-block;
    vertical-align: top;
}

div.delDiv {
    float: right;
}
